---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import EntryCard from '../../components/EntryCard.astro';
import { sortByDateDesc } from '../../lib/content';

const appearances = (await getCollection('appearances')).sort(sortByDateDesc);
---
<BaseLayout title="Appearances">
  <h1 class="page-title">Appearances</h1>
  <div class="card-list">
    {appearances.map((entry) => <EntryCard entry={entry} collection="appearances" />)}
  </div>
</BaseLayout>
